<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>719281079564-m6cd5jm3ugul5gbh2pc0m84peloft723.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.719281079564-m6cd5jm3ugul5gbh2pc0m84peloft723</string>
	<key>API_KEY</key>
	<string>AIzaSyCg6LC85K2Dy_FhZR2sNOvQM1HBLe-YShM</string>
	<key>GCM_SENDER_ID</key>
	<string>719281079564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CartLife</string>
	<key>PROJECT_ID</key>
	<string>cartlife-1537268867437</string>
	<key>STORAGE_BUCKET</key>
	<string>cartlife-1537268867437.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:719281079564:ios:91b0438edc4158a2</string>
	<key>DATABASE_URL</key>
	<string>https://cartlife-1537268867437.firebaseio.com</string>
</dict>
</plist>